/* 
ESTOS SON LOS COLORES DE MI SITIO WEB
primary: 060047;
secundary: B3005E;
light: E90064
info: FF5F9E; 
*/

/* formatear los estilos de la página  */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* aplicar estilos al texto */
.bg-primarity{
    margin: 17px;
    padding: 17px;
    color: darkred;
    font-family: 'Alkatra', cursive;
    background: crimson;
}

/* Aplicar diferentes colores a la página */
.text-light{
    background-color: #E90064;
}
.text-primary{
    color: 060047;
}
.text-secondary{
    color: #B3005E;
}
.bg-info{
    background-color: #FF5F9E; 
}
.text-white{
    color: rgb(226, 226, 226);
}

/* Cambiar la alineación de los elementos*/
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}

.width-100{
    width: 100px;
}

